.red_t {
  color: #f44336;
}

.pink_t {
  color: #E91E63;
}

.purple_t {
  color: #9C27B0;
}

.deep_purple_t {
  color: #673AB7;
}

.indigo_t {
  color: #3F51B5;
}

.blue_t {
  color: #2196F3;
}

.light_blue_t {
  color: #03A9F4;
}

.cyan_t {
  color: #00BCD4;
}

.teal_t {
  color: #009688;
}

.green_t {
  color: #4CAF50;
}

.light_green_t {
  color: #8BC34A;
}

.lime_t {
  color: #CDDC39;
}

.yellow_t {
  color: #FFEB3B;
}

.amber_t {
  color: #FFC107;
}

.deep_orange_t {
  color: #FF5722;
}

.brown_t {
  color: #795548;
}

.grey_t {
  color: #9E9E9E;
}

.orange_t {
  color: #FF9800;
}

.blue_t_grey {
  color: #607D8B;
}

.red {
  background-color: #f44336;
}

.light_red {
  background-color: #fff3f3;
}

.pink {
  background-color: #E91E63;
}

.purple {
  background-color: #9C27B0;
}

.deep_purple {
  background-color: #673AB7;
}

.indigo {
  background-color: #3F51B5;
}

.blue {
  background-color: #2196F3;
}

.light_blue {
  background-color: #03A9F4;
}

.cyan {
  background-color: #00BCD4;
}

.teal {
  background-color: #009688;
}

.green {
  background-color: #4CAF50;
}

.light_green {
  background-color: #8BC34A;
}

.lime {
  background-color: #CDDC39;
}

.yellow {
  background-color: #FFEB3B;
}

.amber {
  background-color: #FFC107;
}

.deep_orange {
  background-color: #FF5722;
}

.brown {
  background-color: #795548;
}

.gold {
  color: #ffd700;
}

.grey {
  background-color: #9E9E9E;
}

.light_grey {
  background: #eeeeee;
}

.orange {
  background-color: #FF9800;
}

.blue_grey {
  background-color: #607D8B;
}